root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{swift, .md, .markdown, m, h}]
charset = utf-8
indent_style = space
indent_size = 4

[{.travis.yml, Podfile}]
indent_type = space
indent_size = 2
